
// 将 element-plus 主题中的变量文件导入当前文件，@forward 用于导出变量、混入和函数，供其他文件使用
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #4080ff
    ),
    'success': (
      'base': #23c343
    ),
    'warning': (
      'base': #ff9a2e
    ),
    'danger': (
      'base': #f76560
    ),
    'info': (
      'base': #a9aeb8
    )
  ),

  $bg-color: (
    'page': #f5f8fd
  )
);

/* 全局作用域：在 :root 中定义的 CSS 变量可以在整个文档中使用，确保这些变量在所有组件和样式中都可访问。
优先级高：:root 选择器的优先级比其他选择器高，因此在 :root 中定义的变量可以覆盖其他地方定义的同名变量。 */

/** 全局SCSS变量 */
:root {
  --menu-background: var(--el-menu-bg-color);
  --menu-text: var(--el-menu-text-color);
  --menu-active-text: var(--el-menu-active-color);
  --menu-active-background: var(--el-color-primary-light-9);
  --menu-hover: var(--el-menu-hover-bg-color);
  --sidebar-logo-background: var(--el-menu-bg-color);
  --sidebar-logo-text: var(--el-menu-active-color);
  // 修复表格 fixed 列被选中后由于透明色导致叠字的 bug
  // .el-table {
  //   --el-table-current-row-bg-color: rgb(235 243 250);
  // }
}

/* Font Sizes */
$font-size-base: 14px; // 基本字体大小
$font-size-small: 12px;
$font-size-large: 16px;
$font-size-h1: 32px; // 标题字体大小
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;

/* Borders */
$border-width: 1px;
$border-style: solid;
$border-color: var(--el-border-color);

/* Border Radius */
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;

/* Spacing */
$spacing-unit: 8px; // 基本间距单位

$spacing-xs: $spacing-unit * 0.5; // 4px
$spacing-sm: $spacing-unit; // 8px
$spacing-md: $spacing-unit * 1.5; // 12px
$spacing-lg: $spacing-unit * 2.5; // 20px
$spacing-xl: $spacing-unit * 3.5; // 28px

/* menu */
$menu-background: var(--menu-background); // 菜单背景色
$menu-text: var(--menu-text); // 菜单文字颜色
$menu-active-text: var(--menu-active-text); // 菜单激活文字颜色
$menu-active-background: var(--menu-active-background); // 菜单激活背景颜色
$menu-hover: var(--menu-hover); // 菜单悬停背景色
$sidebar-logo-background: var(--sidebar-logo-background); // 侧边栏 Logo 背景色
$sidebar-logo-text: var(--sidebar-logo-text); // 侧边栏 Logo 文字颜色
$sidebar-width: 210px; // 侧边栏宽度
$sidebar-width-collapsed: 65px; // 侧边栏收缩宽度
$navbar-height: 50px; // 导航栏高度
$tabs-view-height: 40px; // TabsView 高度
